body {
    background-image: url('../bg/2.png');
    background-repeat: no-repeat;
}
.progress {
    /*margin-top: 15px;*/
    margin-bottom: 15px;
}

.anabaslik {
    font-size: 19px;
}

.sec_foto {
    float: left;
    width: 20%;
}
.sec_bar {
    float: left;
    width: 55%;
}
.sec_select {
    float: left;
    width: 20%;
    align-content: center;
    margin-top: 30px;
}
.sec_name {
    text-align: left;

}

.secenek {
    clear: both;
}